<% provide(:title, 'About') %>
<h1>About</h1>
<p class="text">
  This is just sample application which was written with the help of
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> by a junior programmer who is trying to learn to program in Ruby and
  make complex and useful applications using the framework Ruby on Rails.

</p>
