<% provide(:title, 'Help') %>
<h1>Help</h1>
<p class="text">
  You are your own best savior, but if you still feel that you need help, you can get it in
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
